@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

p, h1, h3 {
  letter-spacing: 0.5px;
}
.highlighted-text {
    background-color: yellow;
    font-weight: bold;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    padding: 5px;
  }
  
  .highlighted-text:hover {
    background-color: #f8e71c;
  }
  